{% extends "base.html" %}

{% block title %}Website | Register{% endblock %}

{% load crispy_forms_tags %}

{% block style %}

@media only screen and (max-width: 700px) {
  #kontener {
    margin-top: 15vh;
  }
}
@media only screen and (max-width: 350px) {
  #kontener {
    margin-top: 20vh;
  }
}

{% endblock %}

{% block main %}
<div id="kontener" class="position-absolute top-50 start-50 translate-middle">
<form method="post" class="form-group">
  {% csrf_token %}
  {{form|crispy}}
  <p>Already have a account? Log In Here <a href="/login">Here</a>.</p>
  <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
{% endblock %}