{% extends 'base.html' %}

{% block title %}Website | Polls{% endblock %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center flex-column gap-4">
    {% if user.is_authenticated %}
    <a type="button" class="btn btn-success" href="/createpoll">Create New Poll</a>
    {% endif %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading  bg-secondary p-2 px-4">
                <h3 class="panel-title">Polls</h3>
            </div>
            <ul class="list-group rounded-0 border border-2 border-secondary">
                {% for poll in polls reversed%}
                <li class="list-group-item px-4 ">
                    <strong>{{poll.question}}</strong>&nbsp;&nbsp;
                    <span class="pull-right ">
                        <a href="/vote/{{poll.id}}" class="btn btn-success btn-xs">Vote</a>&nbsp;&nbsp;
                        <a href="/results/{{poll.id}}" class="btn btn-default btn-xs">View Results</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if messages.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}