{% extends 'base.html' %}

{% block title %}Website | ToDo{% endblock %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center flex-column gap-4">
    {% if user.is_authenticated %}
    <a type="button" class="btn btn-primary" href="/todo/createtodo">Create New ToDoList</a>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading  bg-secondary p-2 px-4">
                <h3 class="panel-title">ToDoLists - {{todoLists.count}}</h3>
            </div>
            <ul class="list-group rounded-0 border border-2 border-secondary">
                {% for todoList in todoLists reversed%}
                <li class="list-group-item px-4 ">
                    <strong>{{todoList.title}} - {{todoList.todolist.count}}</strong>&nbsp;&nbsp;
                    <span class="pull-right ">
                        <a href="/todo/todolist/{{todoList.id}}" class="btn btn-success btn-xs">View</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <h2>You have to be logged in to create to-do lists</h2>
    <h3>Log In <a href="/login/" style="text-decoration: none;">Here</a>.</h3>
    {% endif %}
</div>
{% endblock %}