{% extends 'base.html' %}

{% block title %}Website | Poll{% endblock %}

{% block main %}
<div class="position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center flex-column gap-4">
    <div class="row" style="width: 180%;">
        <div class="panel panel-default">
            <div class="panel-heading  bg-secondary p-2 px-4">
                <h3 class="panel-title">Vote | Change vote</h3>
                <h3 class="panel-title"><b>{{poll.question}}</b></h3>
            </div>
            <ul class="list-group rounded-0 border border-2 border-secondary d-flex flex-column">
                <li class="list-group-item px-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="option" value="option1" {% if user_voted_on == 1 %} checked {% endif %}>
                                    {{poll.option_one}}
                                </label><br><br>
                                <label>
                                    <input type="radio" name="option" value="option2" {% if user_voted_on == 2 %} checked {% endif %}>
                                    {{poll.option_two}}
                                </label> &nbsp;
                            </div>
                        </div>
                        <input type="hidden" name="id" value="1">
                        <hr />
                        <button type="submit" class="btn btn-info">Vote</button>
                        {% for user in user_votes %}
                        <p>{{user}}</p>
                        {% endfor %}
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <a type="button" class="btn btn-success" href="/polls">Back</a>
    {% if messages.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}